.day20 .back {
    background-image: url('christmas/l.jpeg');
    background-size: cover;
    background-position: center;
}
.day21 .back {
    background-image: url('christmas/o.jpeg');
    background-size: cover;
    background-position: center;
}
.day22 .back {    
    background-image: url('christmas/e.png');
    background-size: cover;
    background-position: center;
}

.day23 .back {    
    background-image: url('christmas/v.jpeg');
    background-size: cover;
    background-position: center;
}

.day24 .back {    
    background-image: url('christmas/d.png');
    background-size: cover;
    background-position: center;
}

.day25 .back {    
    background-image: url('christmas/a.jpeg');
    background-size: cover;
    background-position: center;
}

.day26 .back {    
    background-image: url('christmas/i.jpeg');
    background-size: cover;
    background-position: center;

}

.day27 .back {    
    background-image: url('christmas/dd.png');
    background-size: cover;
    background-position: center;
}

.day28 .back {    
    background-image: url('christmas/j.jpeg');
    background-size: cover;
    background-position: center;
}

.day29 .back {
    background-image: url('christmas/u.jpeg');
    background-size: cover;
    background-position: center;
}
.day30 .back {
    background-image: url('christmas/li.jpeg');
    background-size: cover;
    background-position: center;
}
.day31 .back {
    background-image: url('christmas/an.png');
    background-size: cover;
    background-position: center;
}
