.day20 .back {
    background-image: url('styless/l.jpeg');
    background-size: cover;
    background-position: center;
}
.day21 .back {
    background-image: url('styless/o.jpeg');
    background-size: cover;
    background-position: center;
}
.day22 .back {    
    background-image: url('styless/e.png');
    background-size: cover;
    background-position: center;
}

.day23 .back {    
    background-image: url('styless/v.jpeg');
    background-size: cover;
    background-position: center;
}

.day24 .back {    
    background-image: url('styless/d.png');
    background-size: cover;
    background-position: center;
}

.day25 .back {    
    background-image: url('styless/a.jpeg');
    background-size: cover;
    background-position: center;
}

.day26 .back {    
    background-image: url('styless/i.jpeg');
    background-size: cover;
    background-position: center;

}

.day27 .back {    
    background-image: url('styless/dd.png');
    background-size: cover;
    background-position: center;
}

.day28 .back {    
    background-image: url('styless/j.jpeg');
    background-size: cover;
    background-position: center;
}

.day29 .back {
    background-image: url('styless/u.jpeg');
    background-size: cover;
    background-position: center;
}
.day30 .back {
    background-image: url('styless/li.jpeg');
    background-size: cover;
    background-position: center;
}
.day31 .back {
    background-image: url('styless/an.png');
    background-size: cover;
    background-position: center;
}
